<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>BGInvest Website</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      padding-top: 56px;
    }

    .project-card {
      margin-bottom: 20px;
    }
  </style>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="index.html">BGInvest-Crowdfunding</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="project.html">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="aboutUs.html">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact.html">Contact</a>
      </li>
    </ul>
  </div>
</nav>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-4">
        <div class="card project-card">
          <img src="image/tho7mau.png" class="card-img-top" alt="Project Image">
          <div class="card-body">
            <h5 class="card-title">Dự án Hoạt hình con Thỏ</h5>
            <p class="card-text">Thỏ Bảy Màu là tên một loạt truyện tranh ngắn do họa sĩ Huỳnh Thái Ngọc sáng tác từ năm 2014. Loạt truyện ban đầu thuộc dạng ngắn và được đăng tải chủ yếu trên Facebook.</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#projectModal1">
              Đầu tư
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card project-card">
          <img src="image/thantich.webp" class="card-img-top" alt="Project Image">
          <div class="card-body">
            <h5 class="card-title">Boardgmae Thần tích</h5>
            <p class="card-text">Thần Tích là một dự án do đội ngũ KEIG Studio thực hiện, kể một câu chuyện hùng tráng về thần thoại và cổ tích Việt Nam thông qua ngôn ngữ game và truyện tranh.</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#projectModal2">
              Đầu tư
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card project-card">
          <img src="image/HeroVerse.jpg" class="card-img-top" alt="Project Image">
          <div class="card-body">
            <h5 class="card-title">Game HeroVerse (Vũ trụ anh hùng)</h5>
            <p class="card-text">HeroVerse là một game được xây dựng và phát triển trên nền tảng công nghệ Blockchain đang rất thịnh hành thời gian gần đây. Được phát triển bởi Hiker Studio - một trong những công ty game trực tuyến tại Việt Nam</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#projectModal3">
              Đầu tư
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!---->

  <!-- Project Modals -->
  <div class="modal fade" id="projectModal1" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel1"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="projectModalLabel1">Dự án Hoạt hình con Thỏ</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Ngày 16 tháng 11 năm 2022, đội ngũ sản xuất Thỏ bảy màu đã tiến hành gọi vốn 1,2 tỷ đồng để sản xuất phim hoạt hình Hoạt hình con thỏ với 10 tập, tổng thời lượng 120 phút trong mùa đầu tiên. Đến cuối tháng 2, dự án Hoạt hình con thỏ đã chính thức gọi vốn thành công và trở thành dự án gọi vốn cộng đồng lớn nhất Việt Nam thành công từ trước đến nay.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a class="nav-link" href="project.html">Đầu tư</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="projectModal2" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel2"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="projectModalLabel2">Boardgame Thần tích</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Thần Tích là một trò chơi thẻ bài sưu tầm (collectible card game) được sáng tạo bởi KEIG Studio Bạn đột ngột rơi xuyên qua một vùng hỗn mang, và một khung cảnh kỳ lạ mở ra trước mắt bạn: Lạc Long Quân đang đứng cùng Sơn Tinh, mẹ Âu Cơ đang nghênh chiến với Ông Ba Mươi, Thạch Sanh cầm búa bổ vào Thủy Tinh,... Mọi thứ trong thần thoại và cổ tích hỗn loạn, các sự kiện bị xáo trộn trước mắt bạn…</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a class="nav-link" href="project.html">Đầu tư</a>        
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="projectModal3" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel3"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="projectModalLabel3">Game HeroVerse (Vũ trụ anh hùng)</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Ông Huy cho biết, HeroVerse là một trong những NFT game có thiết kế đồ hoạ đẹp, mỗi nhân vật đều được thiết kế 2D và 3D, với yêu cầu hoàn thiện cao nhất. </p>
          <p>Ngoài ra, với cách chơi đơn giản, HeroVerse sẽ dễ dàng tiếp cận với nhiều người chơi và đảm bảo sự thử thách khi thêm những yếu tố nhập vai và đội hình chiến thuật.          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a class="nav-link" href="project.html">Đầu tư</a> 
                </div>
      </div>
    </div>
  </div>
  <!---->
  <div class="modal fade" id="projectModal1" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel1"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="projectModalLabel1">Project 4 Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Detailed information about Project 1. Include text, images, and any other relevant details.</p>
        <p>You can also provide a form for users to make contributions or investments.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Support</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="projectModal2" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel2"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="projectModalLabel2">Project 2 Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Detailed information about Project 2. Include text, images, and any other relevant details.</p>
        <p>You can also provide a form for users to make contributions or investments.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Support</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="projectModal3" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel3"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="projectModalLabel3">Project 3 Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Detailed information about Project 3. Include text, images, and any other relevant details.</p>
        <p>You can also provide a form for users to make contributions or investments.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Support</button>
      </div>
    </div>
  </div>
</div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
